<article>
  <a href="/dashboard"> &larr; Back to Dashboard</a>
  <h2>
    Edit Your Post
  </h2>
  <form class="edit-post-form">
    <div>
      <label for="post-title">Post Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <label for="post-content">Edit Content</label>
      <textarea name="post-content" type="text">{{posts.post_content}}</textarea>
    </div>
    <div>
      <a href="/post/{{posts.id}}">{{posts.comments.length}} {{format_plural "comment" posts.comments.length}}</a>
    </div>
    <button type="submit">Save Up dated Post</button>
    <button type="button" class="delete-post-btn">Delete Post</button>
  </form>
</article>



{{#if loggedIn}}

<script src="/javascript/edit-post.js"></script>

<script src="/javascript/delete-post.js"></script>

<script src="/javascript/comment.js"></script>
{{/if}}